

p{font-family: sans-serif; color:red;text-decoration: underline;}
h2{background-color: yellow; color:rgb(128,0,196);font-family: georgia;text-align:center;}
h4{color: #FF8800;}
p,h5,h6{
   color: green;
   }
   h5{
   background-color: yellow; font-family: garamond; font: 24pt; text-align:justify;}
   }
   /* this is comment */
h6{text-decoration: line-through ;}
   
	

